<div class="contact-back">
    <div class="contact-container">
        <div class="form-container">
            <div class="card-form">
                <h1>Contactez-nous</h1>
                <form>
                    <input type="name" placeholder="Votre nom" required/>
                    <input type="email" placeholder="Votre email" required/>
                    <input type="text" placeholder="Sujet" required/>
                    <textarea placeholder="Votre message" required></textarea>
                    <div class="send-btn">Envoyer</div>
                </form>
            </div>
        </div>
    </div>
</div>