<div class="contact-back">
    <div class="contact-container">
        <div class="form-container">
            <div class="card-form">
                <h1>Contactez-nous</h1>
                <form>
                    <input type="name" name="name" placeholder="Votre nom..." [(ngModel)]="name"/>
                    <input type="email" name="email" placeholder="email..." [(ngModel)]="email"/>
                    <input type="text" placeholder="Sujet" name="Sujet..." [(ngModel)]="subject"/>
                    <textarea placeholder="Votre message" name="message..." [(ngModel)]="message"></textarea>
                    <button type="submit" (click)="handleSubmit()" class="send-btn">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
</div>