.not-found{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size:1.5rem;
    font-weight: bold;
    height: 20vh;
}
div a{
    font-size: 1rem;
    background-color: #DA001E;
    opacity: .8;
    text-decoration: none;
    color: white;
    padding: 5px 30px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    margin:20px;
}
div a:hover{
    opacity: 1;
    cursor: pointer;
}