<header>
  <div class="none" (click)="handleDisplayMobileNav()" (mouseenter)="handleDisplayMobileNav()" >
    <img src="assets/menus.png" alt="menu">
  </div>
  <div class="logo">
    <a routerLink="">
     <img src="assets/villages.png" alt="logo">
    </a>
  </div>
    <div class="nav-bar">
      <ul>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><a routerLink="">HOME</a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="'apropos'">ABOUT</a></li>
      </ul>
    </div>
    <a routerLink="cart-page">
      <div class="panier-icon">     
      <img src="assets/images/paniers.png" alt="logo" width="50px" class="paniers">   
      <p></p>    
    </div>
     </a>
</header>
<app-nav-menu *ngIf="isDisplayMobileNav" (close)="handleCloseMobileNav()"></app-nav-menu>