header{
    background-color: white;
    height: 120px;
    color: #151217;
    font-weight: bold;
    text-align: center;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 5px 20px;
    justify-content: space-between;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0 3px 3px -1px gray,  0 3px rgb(209, 207, 207), 0 1px 3px gray;
  }
  header .nav-bar ul{
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    color: #151217;
    margin-right: 80px;
    text-transform: uppercase;
  
  }
  header a{
    text-decoration: none;
    color: #151217;
  }
  .none{
    display: none;
  }
  header a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #DA001E;
  }
  .panier-icon{
    margin-right: 50px;
    padding: 10px;
  }
  .panier-icon:hover{
    border: 0.5px solid #FDD90B ;
    background-color: #FDD90B;
    border-radius: 100%;
  }
  .panier-icon p{
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: -30px;
  }
  .logo img{
    width: 170px;
    height: 100%;
    margin-left: 50px;
  }
  @media (max-width: 680px){
    header{
      font-size: 14px;
      padding: 5px 10px;
      justify-content: space-between;
    }
    header .nav-bar ul{
      margin-left: 10px;
      font-size: 14px;
      display: none;
    }
    .logo img{
     margin-left: 50px;
     display:block;
    }
    .none{
      display: block;
      margin-left: 50px;
      cursor:pointer;
    }
    .none img:hover{
      background-color: #DA001E;
      padding: 10px;
      border-radius: 5px;
    }
    
  }
  @media (max-width: 445px){
    header{
      font-size: 13px;
      padding: 5px 5px;
      justify-content: space-between;
    }
    header .nav-bar ul{
      margin-right: 5px;
      font-size: 12px;
    }
    .logo img{
     margin-left: 10px;
     width: 120px;
     height: 100%;
    }
    .panier-icon{
      margin-right: 30px;
    }
    .none{
      display: block;
      margin-left: 30px;
      cursor:pointer;
    }
  }
  @media (max-width: 390px){
    header{
      font-size: 13px;
      padding: 5px 5px;
      justify-content: space-between;
    }
    header .nav-bar ul{
      margin-right: 5px;
      font-size: 13px;
    }
    .logo img{
     margin-left: 10px;
     width: 120px;
     height: 100%;
    }
  }
  @media (max-width: 340px){
    header{
      font-size: 10px;
      padding: 5px 5px;
      justify-content: space-between;
    }
    header .nav-bar ul{
      margin-right: 5px;
      font-size: 10px;
    }
    .logo img{
     margin-left: 10px;
     width: 110px;
     height: 100%;
    }
  }
  @media (max-width: 300px){
    header{
      font-size: 8px;
      padding: 5px 5px;
      justify-content: space-between;
    }
    header .nav-bar ul{
      margin-right: 5px;
      font-size: 8px;
    }
    .logo img{
     margin-left: 10px;
     width: 100px;
     height: 100%;
    }
    .panier-icon{
      margin-right: 15px;
    }
    .none{
      display: block;
      margin-left: 15px;
      cursor:pointer;
    }
  }
  