.slide-item{
    height: 370px;
    padding: 20px 150px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: black;
}
.slide-item img{
    width: 50px;
    border-radius: 100%;
    border: 1px solid white;
    margin-top: 130px;
    background-color: white;
    cursor: pointer;
}
@media (max-width: 880px){
    .slide-item{
        padding: 20px 50px;  
    }
    .slide-item img{
        width: 40px;
    }
}
@media (max-width: 550px){
    .slide-item{
        padding: 20px 20px;  
    }
    .slide-item img{
        width: 35px;
    }
}
@media (max-width: 430px){
    .slide-item{
        padding: 20px 10px;  
    }
    .slide-item img{
        width: 30px;
    }
}

