.product-modal-container{
    display:flex;
    flex-direction: row;
    width: 690px;
    height: 500px;
    background-color: white;
    position:fixed;
    z-index:900;
    top:55%;
    left:50%;
    transform:translate(-50%, -50%);
}
.modal-img {
    width: 50%;
    padding: 15px;
}
.modal-img img{
    width: 100%;
    height: 100%;
}
del{
    color: red;
}
.overlay{
    background-color:#151217;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity:0.9;
    z-index: 880;
}
.close{
    width: 100%;
    margin-left: 10px;
    justify-content: end;
    align-items: end;
    display: flex;
    margin-bottom: 30px;
    margin-top: -20px;
}
.close img{
    align-self: end;
    cursor: pointer;
}
.modal-details {
    width: 50%;
    padding:30px 20px;
    text-align: center;
}
.modal-details p{
    margin: 20px 0;
}
.modal-price-details{
    margin-top: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.achat{
    margin-top: 30px;
    padding: 8px 30px;
    color: white;
    cursor: pointer;
    border: 1px solid #DA001E;
    border-radius: 5px;
    background-color: #DA001E;
}
.achat:hover{
    border: 1px solid black;
    background-color: black;
}
@media screen and (max-width: 775px){
    .product-modal-container{
        width:500px;
        height: 400px;
    }
    .modal-img {
        padding: 8px;
    }
    .modal-details h2{
        font-size:15px;
    }
    .modal-details p{
        font-size:13px;
    }
    .modal-details {
        padding:30px 12px;
        
    }

}
@media screen and (max-width: 540px){
    .product-modal-container{
        width:440px;
        height: 380px;
    }
    .modal-img {
        padding: 8px;
    }
    .modal-details h2{
        font-size:13px;
    }
    .modal-details p{
        font-size:11px;
    }
    .modal-details {
        padding:30px 12px;
        
    }

}
@media screen and (max-width: 460px){
    .product-modal-container{
        width:360px;
        height: 300px;
    }
    .modal-img {
        padding: 8px;
    }
    .modal-details h2{
        font-size:13px;
    }
    .modal-details p{
        font-size:11px;
    }
    .modal-details {
        padding:30px 12px;
        
    }
    .close img{
        width:24px;
    }
    .modal-price-details h4{
        font-size:14px;
    }

}
@media screen and (max-width: 380px){
    .product-modal-container{
        width:300px;
        height: 250px;
    }
    .modal-img {
        padding: 8px;
    }
    .modal-details h2{
        font-size:11px;
    }
    .modal-details p{
        font-size:8px;
    }
    .modal-details {
        padding:30px 12px;
        
    }
    .close img{
        width:22px;
    }
    .modal-price-details h4{
        font-size:13px;
    }
    .achat{
        margin-top: 10px;
        padding: 8px 10px;
        font-size: 11px;
        color: white;
        cursor: pointer;
        border: 1px solid #DA001E;
        border-radius: 5px;
        background-color: #DA001E;
    }
    .modal-price-details{
        margin-top: 30px;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
@media screen and (max-width: 315px){
    .product-modal-container{
        width:280px;
        height: 230px;
    }
    .modal-img {
        padding: 8px;
    }
    .modal-details h2{
        font-size:11px;
    }
    .modal-details p{
        font-size:8px;
    }

    .close img{
        width:20px;
    }
    .modal-price-details h4{
        font-size:11px;
    }
}