.product-container{
    width: 100%;
    background-color: rgb(240, 239, 239);
    padding-bottom:50px ;
    }
    .title-product{
      height: 60px;
      color: white;
      background-color: #DA001E;
      padding-top: 10px;
      border: 0.3px solid #DA001E;
      
    
    }
    .title-product h2{
      text-align: center;
      margin-top: 10px;
    }
    .infos-container{
      padding:5%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 30px;
    }
    .img-container{
      width: 50% ;
      padding: 10px;
      background-color: white;
      border: 0.3px solid white;
      border-radius: 10px;
      box-shadow: 0 3px 5px -1px rgb(187, 185, 185),  0 6px 10px rgb(201, 200, 200), 0 1px 13px rgb(197, 197, 197);
    }
    .infos-product{
      width: 40% ;
      padding: 20px 10px;
      background-color: white;
      border: 0.3px solid white;
      border-radius: 10px;
      box-shadow: 0 3px 5px -1px rgb(187, 185, 185),  0 6px 10px rgb(201, 200, 200), 0 1px 13px rgb(197, 197, 197);
    }
    .img-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 60px;
    }
    .img-container img{
      width: 60%;
    }
    .img-slider{
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid white;
      gap: 40px;
      padding: 10px;
      background-color: white;
      
      border-radius: 5px;
      
    }
    .img-slider img{
      cursor: pointer;
      border: 2px solid whitesmoke;
      border-radius: 5px;
      padding: 3px;
    }
    .img-slider img:hover{
      border: 2px solid #DA001E;
    }
    .infos-product{
      padding: 0;
    }
    .infos-product h4{
      border-bottom: 1px solid whitesmoke;
      border-radius: 10px 10px 0 0;
      padding: 10px;
      font-size:17px;
      padding-top: 30px;
      background-color: whitesmoke;
    }
    .infos-product .p-desc{
      font-size: 16px;
      padding: 30px 10px;
      font-family: 'Comfortaa', sans-serif;
    }
    .caract{
      display: flex;
      flex-direction:column;
    }
    .caract h5{
      border: 1px solid whitesmoke;
      padding: 10px;
      font-size:17px;
      background-color: whitesmoke;
    }
    .critere{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      justify-content: space-around;
      padding: 0px;
      border-bottom: 1px solid whitesmoke;
    }
    .critere p{
      padding: 10px;
      font-family: 'Comfortaa', sans-serif;
    }
    .critere-items{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .product-price{
      margin-top: 50px;
      display:flex;
      gap: 155px;
      justify-content: center;
    }
    del{
      color:#DA001E;
    }
    .panier{
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .btn-panier{
      padding: 10px 30px;
      border: 1px solid #DA001E;
      margin: 50px 150px;
      justify-content: center;
      align-items: center;
      display: flex;
      gap: 10px;
      color: white;
      font-weight: bold;
      background-color: #DA001E;
      border-radius: 10px;
      cursor: pointer;
    }
    .btn-panier:hover{
      background-color: black;
      border: 1px solid black;
    }
    .livraison{
      border-top: 1px solid whitesmoke;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      gap: 30px;
      padding-top: 20px;
      justify-content: center;
    }
    @media (max-width: 1455px){
      .btn-panier{
        font-size:10px;
        padding: 10px 60px;
        cursor: pointer;
      }
      .img-container img{
        width: 210px;
    
      }
      .img-slider img{
        width: 90px;
        height: 90px;
      }
      .product-price{
        gap: 55px;
        justify-content: center;
      }
      .infos-product .p-desc{
        font-size: 14px;
      }
      .title-product h2{
        text-align: center;
        font-size: 20px;
      }
    }
    @media (max-width: 877px){
      .infos-product h4{
        padding: -10px;
        padding-top: -30px;
        background-color: white;
      }
    
      .caract h5{
        border: 1px solid whitesmoke;
        padding: 10px;
        font-size:17px;
        background-color: white;
      }
      .infos-container{
        margin-top: 40px;
        display: flex;
    
        flex-direction: column;
      }
      .img-container{
        width: 100% ;
        padding: 10px;
        background-color: white;
        border: 0.3px solid white;
        border-radius: 10px;
        padding:0px;
      }
      .infos-product{
        width: 100% ;
        padding: 20px 10px;
        background-color: white;
        border: 0.3px solid white;
        border-radius: 10px;
        padding:0px;
      }
      .title-product h2{
        font-size: 17px;
        text-align: center;
      }
    }
    @media (max-width: 435px){
      .title-product h2{
        font-size: 12px;
        text-align: center;
      }
      .img-container img{
        width: 180px;
    
      }
      .img-slider img{
        width: 70px;
        height: 70px;
      }
    }
    @media (max-width: 370px){
      .title-product h2{
        font-size: 10px;
        text-align: center;
      }
      .img-container img{
        width: 130px;
    
      }
      .img-slider img{
        width: 50px;
        height: 50px;
      }
    }
    @media (max-width: 305px){
      .title-product h2{
        font-size: 10px;
        text-align: center;
      }
      .img-container img{
        width: 100px;
    
      }
      .img-slider img{
        width: 40px;
        height: 40px;
      }
    }
    