.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.tags a{
    background-color: #e7e7e1;
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 15px;
    color:blue;
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}
.tags a:hover{
    background-color:#FDD90B;
    color: white;
}
@media (max-width: 480px){
    .tags a{
        font-size: 10px;
        padding: .2rem 0.8rem;
    }
}
@media (max-width: 350px){
    .tags a{
        font-size: 9px;
        padding: .2rem 0.8rem;
    }
}