<div class="about-contenair">
    <div class="about">
        <div class="about-div">
        <div class="about-infos">
            <h1><strong>AU PETIT VILLAGE</strong></h1>
            <h1>BIENVENUE AU VILLAGE D'ASTÉRIX ET OBÉLIX</h1>
            <p>“Au petit village” est une entreprise qui confectionne des figurines inspirées de la bande dessinée Astérix et Obélix.<br>
            Elle cible une population jeune entre 30 et 55 ans, nostalgique des aventures des célèbres Gaulois.</p>
            <div class="trait">
            <span routerLink="">Voir toutes nos figurines</span>
            </div>
        </div>
        
        <div class="model-img">
            <img src="./assets/images/products/bac1.png" alt="">
        </div>
    </div>
    </div>
    <div class="creation">
        <h2>NOS CRÉATIONS</h2>
        <div class="subs"></div>
    </div>
    <section class="figurines">
        <div class="container-fluid">
            <div class="slider-wrap">
                <div class="slider-main">
                    <div class="item">
                        <div class="text"><img src="/assets/images/slider/fig12.jpg" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item  back1">
                        <div class="text"><img src="/assets/images/slider/fig13.jpg" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back2">
                        <div class="text"><img src="/assets/images/slider/fig14.jpg" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back3">
                        <div class="text "><img src="/assets/images/slider/fig15.jpg" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item">
                        <div class="text"><img src="/assets/images/slider/fig16.jpg" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back1">
                        <div class="text"><img src="/assets/images/slider/fig17.jpg" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back2">
                        <div class="text"><img src="/assets/images/slider/fig18.jpg" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back3">
                        <div class="text"><img src="/assets/images/slider/fig19.jpg" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item">
                        <div class="text"><img src="/assets/images/slider/fig19.jpg" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back1">
                        <div class="text"><img src="/assets/images/slider/fig20.jpg" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back2">
                        <div class="text"><img src="/assets/images/slider/fig21.jpg" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back3">
                        <div class="text"><img src="/assets/images/slider/fig22.jpg" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item">
                        <div class="text"><img src="/assets/images/slider/fig23.png" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back1">
                        <div class="text"><img src="/assets/images/slider/fig24.png" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back2">
                        <div class="text"><img src="/assets/images/slider/fig25.png" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back3">
                        <div class="text"><img src="/assets/images/slider/fig26.png" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item">
                        <div class="text"><img src="/assets/images/slider/fig27.png" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back1">
                        <div class="text"><img src="/assets/images/slider/fig28.png" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back2">
                        <div class="text"><img src="/assets/images/slider/fig29.png" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back3">
                        <div class="text"><img src="/assets/images/slider/fig30.png" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item">
                        <div class="text"><img src="/assets/images/slider/fig31.png" alt="" width="280px" height="250px"></div>
                    </div>
                    <div class="item back1">
                        <div class="text"><img src="/assets/images/slider/fig32.png" alt="" width="280px" height="250px"></div>
                    </div>
                </div>
                <div class="button-erea">
                    <button type="button" class="prev" appPrev><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                      </svg></button>
                    <button type="button" class="next" appNext><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                      </svg></button>
                </div>
            </div>
            <div class="contact-tog">
                <div class="form-tog">
                    <p>Pour nous contacter. Cliquer ici</p>
                </div>
                <div class="tog-img" routerLink="/contact">
                    <img src="/assets/images/products/ast3.jpg" alt="" >
                </div>

            </div>
        </div>
    </section>
</div>
