.card-container{
    height: 70vh;
    background-color: white;
    padding: 50px 150px;
}
.card{
    height: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: white;
    opacity: 0.9;
    justify-content: center;
    z-index: 5;
    align-items: center;
    border: 0.3px solid white; 
}
.card-paniers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.card-paniers h5{
    font-size: 19px;
}
.btn-panier{
    padding: 10px 70px;
    background-color: #FDD90B;
    border: 0.5px solid #FDD90B;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.card-table{
    position:relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    min-width: none;
    background-color: white;
    background-clip: border-box;
    border: 1px solid rgb(238, 236, 236);
    border-radius: .25rem;
}tbody{
    padding: 10px 0;
}
@media (max-width: 1150px){
    .card-container{
        padding: 80px 50px;
        
    }
}
@media (max-width: 980px){
    .card-container{
        padding: 80px 50px;
        
    }
}
@media (max-width: 680px){
    .card-container{
        padding: 80px 50px;
        
    }
}
@media (max-width: 555px){
    .card-container{
        padding: 80px 30px;
        
    }
}
@media (max-width: 445px){
    .card-container{
        padding: 80px 10px;
        
    }
    .card{
        padding: 20px 10px;
    }
}
@media (max-width: 380px){
    .card-container{
        padding: 80px 7px;
        
    }
    .card{
        padding: 20px 10px;
    }
    .card-paniers h5{
        font-size: 15px;
    }
    .btn-panier{
        padding: 5px 20px;
        background-color: #FDD90B;
        border: 0.5px solid #FDD90B;
        border-radius: 5px;
        font-weight: bold;
    }
}
@media (max-width: 350px){
    .card-container{
        padding: 80px 5px;
        
    }
    .card{
        padding: 20px 5px;
    }
    .card-paniers h5{
        font-size: 13px;
    }
    .btn-panier{
        padding: 5px 14px;
        background-color: #FDD90B;
        border: 0.5px solid #FDD90B;
        border-radius: 5px;
        font-weight: bold;
    }
}