<ng-container *ngIf="articles.length!=0">
<div class="card-table">
    <div class="card-product">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>R. article</th>
                    <th>Nom article</th>
                    <th>Image article</th>
                    <th>Déscription</th>
                    <th>Prix soldé</th>                 
                    <th>Prix regulier</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody *ngFor="let article of articles; let i = index">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{article.name}}</td>
                    <td><img [src]="article.imageUrl[1]" width="80px"></td>
                    <td>{{article.description}}</td>
                    <td>{{(article.sold_price || 0 )/100 |currency: "EUR"}}</td>                
                    <td>{{(article.regular_price || 0 )/100 |currency: "EUR"}}</td>                
                    <td>1</td>
                    <td><strong>{{(article.total || 0 )/100 |currency: "EUR"}}</strong></td>
                   <td><button class="btn btn-danger" (click)="delete(article)">supprimer</button></td> 
                </tr>
            <tr>   
                
            </tr>               
            </tbody>
            <td colspan="4"></td>        
        <td><button class="btn btn-danger" (click)="emptycart()">Vider le panier</button></td>
        <td><button routerLink="" class="btn btn-success">Poursuivre vos achats</button></td>
        <td> <button class="btn btn-warning">Verifier</button></td> 
        <td><strong>TOTAL : {{(grandtotal || 0 )/100 |currency: "EUR":"symbol"}}</strong></td>
        </table>
        
        
    </div>
</div>
</ng-container>

<ng-container *ngIf="articles.length==0">
    <div class="card-container">
        <div class="card">
            <div class="card-paniers">
                <img src="./assets/images/paniers.png" alt="">
                <h5>Votre panier est vide</h5> 
            </div>
            <p>En maque d'inspiration ?</p>  
            <a routerLink="/productlist">
                <button class="btn-panier">Voir les meilleurs offres</button>
            </a>
        </div>
    </div>
</ng-container>
