*{
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
  }
  a{
    text-decoration: none;
  }
  .active{
    background-color: whitesmoke;
    padding: 5px 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
  }