<div class="section">
    <app-slider></app-slider>
    <div class="bio">
      <img src="/assets/villages.png" alt="logo">
      <p>La société <b>“Au petit village”</b> est une entreprise qui confectionne des figurines inspirées de la bande
        dessinée Astérix et Obélix.<br/>Elle cible une population jeune entre 30 et 55 ans, nostalgique des aventures des célèbres
        Gaulois. </p>
    </div>
    <div class="search-product">
      <div class="search-name">
      <div class="search">
        <div class="input-group mt-15">
          <input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup)="search($event)">
          <img src="./assets/images/chercher.png" alt=""> 
      </div>
      </div>
      <div class="input-group-append mx-2">
        <select class="form-select">
          <option>Trier par</option>
          <option value="asc">Prix croissant</option>
          <option value="dsc">Prix décroissant</option>
        </select>
      </div>
      </div>
    </div>
    <h2>Catalogue produits</h2>
      <app-catalogue-product></app-catalogue-product>
      <div class="plus-d">
        <button class="plus-p" routerLink="productlist">Voir plus de produits</button> 
      </div>
     
  </div>