<section class="section">
    <div class="banner">
      <img src="assets/figurine-back2.jpg" alt="benner">
    </div>
    <div class="bio">
      <img src="/assets/villages.png" alt="logo">
      <p>La société <b>“Au petit village”</b> est une entreprise qui confectionne des figurines inspirées de la bande
        dessinée Astérix et Obélix.<br/>Elle cible une population jeune entre 30 et 55 ans, nostalgique des aventures des célèbres
        Gaulois. </p>
    </div>
    <app-catalogue-product></app-catalogue-product>
  </section>