.section{
    min-height:75vh;
    width: 100%;
    padding:0px 0;
    backdrop-filter: blur(5px);
    padding-bottom: 50px;
    background-color: white;
  }
  .search-product{
    height: 160px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .search-product .search-name{
    width: 60%;
    height: 150px;
    padding: 10px 320px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    border: 1px solid whitesmoke;
    box-shadow: 0 3px 5px -1px rgb(187, 185, 185),  0 6px 10px rgb(201, 200, 200), 0 1px 13px rgb(197, 197, 197);
    border-radius: 5px;
  }
  .search-name input{
    width: 70%;
    padding: 10px;
    border: 1px solid rgb(201, 198, 198);
    background-color: white;
    border-radius: 5px;
  }
  .search-name img{
    cursor: pointer;
    width:25px;
    margin-left: -33px;
  }
  .section h2{
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .banner img{
    width: 100%;
    height: 150px;
    cursor: pointer;
  }
  .section .bio{
    font-size: 17px;
    padding: 20px;
    margin: 80px 145px;
    text-align: center;
    line-height: 1.3;
    font-family: 'Comfortaa', sans-serif;
  }
  .section .bio img{
    width: 270px;
  }
  @media (max-width: 680px)
  {
    .banner img{
      height: 120px;
    }
    .section .bio{
      margin: 40px 20px;
      font-size: 14px;
    }
    .section .bio img{
      width: 190px;
    }
  }
  @media (max-width: 430px)
  {
    .banner img{
      height: 110px;
    }
    .section .bio{
      font-size: 13px;
    }
    .section .bio img{
      width: 160px;
    }
  }
  @media (max-width: 330px)
  {
    .banner img{
      height: 90px;
    }
  }
  @media (max-width: 330px)
  {
    .banner img{
      height: 70px;
    }
     .section .bio{
      font-size: 11px;
    }
  }
  